beautifulsoup4==4.12.2
Flask==2.2.5
Flask_BasicAuth==0.2.0
firebase_admin==6.2.0
requests
Flask_Login==0.6.2
flask_sock==0.6.0
flask_sqlalchemy==3.0.3
pywebview==4.1
tinycss==0.4
myst_parser
pydata_sphinx_theme
sphinx==5.2.3
stripe==5.5.0
